<%- include("common/header") %>
<div class="title_img">
    <div class="center_title">
        <h2>회원 메뉴 소개 갤러리</h2>
        <p>메인 / 제품 소개 및 게시판</p>
    </div>
</div>
<div class="gridTitle">
    <h2>회원 갤러리</h2>
    <p>어메스 커피에 대한 회원 분들의 다양한 의견과 제품 설명을 확인하세요</p>
</div>
<div class="gridWrap">
    <% for(let i=0; i < brdData.length; i++){ %>
        <div class="grid_list">
            <div class="list_img">
                <% if(brdData[i].brdfile) { %>
                <img src="/upload/<%- brdData[i].brdfile %>">
                <ul class="img_top">
                    <li class="featured">추천</li>
                    <li class="for-sale">판매중</li>
                </ul>
                <p class="price">$0.7<span>/1ea</span></p>
                <% } else {%>
                    <div class="noimg">썸네일 없음</div>
                <% } %>
            </div>
            <div class="list_info">
                <h3><a href="/brddetail/<%- brdData[i].brdid %>"><%- brdData[i].brdsubject %></a></h3>
                <p><i class="fa-solid fa-location-dot"></i>매장 위치 : 경기도 고양시 일산서구 덕이동 </p>
                <ul class="room_info1">
                    <li><i class="fa-solid fa-mug-hot"></i>에스프레소</li>
                    <li><i class="fa-solid fa-mug-saucer"></i>카페라떼</li>
                    <li><i class="fa-solid fa-beer-mug-empty"></i>카페모카</li>
                </ul>
                <ul class="room_info2">
                    <li><i class="fa-solid fa-cookie-bite"></i></i>쿠키</li>
                    <li><i class="fa-solid fa-burger"></i>마카롱</li>
                    <li><i class="fa-solid fa-bread-slice"></i>페스츄리</li>
                </ul>
                <div class="list_bot">
                    <p><i class="fa-solid fa-person"></i><%- brdData[i].brdauther %></p>
                    <p><i class="fa-solid fa-calendar-days"></i><%- brdData[i].brdtime %></p>
                </div>
            </div>
        </div>
    <% } %>
</div>
<div class="brdinsertBtn"><a href="/brdinsert">게시글 작성</a></div>
<%- include("common/footer") %>
<!-- 구역이동 및 햄버거 메뉴 -->
<script src="/js/section.js"></script>
</body>
</html>